body {
    max-width: 60%;
    margin: 8%;
}

div.mdl-textfield {
    margin: 0 2%;
}

li.mdl-list__item {
    border-bottom: 1px solid rgba(63, 81, 181, 0.4);
}

span.mdl-list__item-primary-content {
    display: flex;
    flex-flow: row wrap;
}
label.mdl-checkbox {
    width: 20px;
}

label.text {
    min-width: 300px;
}

span.toDoText {
    width: 500px;
}



